@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,::before,::after{
    padding: 0;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
html{
    background-color: rgb(203, 223, 231);
}
.card{
    width: 45%;
    height: 100%;
    margin: 8% auto;
}
.section{
    background-color: white;
    height: 45%;
    padding: 30px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    animation: drop .5s;
}
.section h1{
    color: hsl(179, 63%, 48%);
}
.section h2{
    color: hsl(71, 73%, 54%);
    font-size: 1.15em;
    margin: 20px 0;
}
.section p{
    color: hsl(218, 22%, 67%);
    line-height: 1.5em;
    margin: 10px 0 0;
}
.two-articles{
    display: flex;
    width: 100%;
}
.art-1{
    width: 50%;
    height: 37.5vh;
    padding: 30px;
    border-radius: 0 0 0 10px;
    background-color: hsl(179, 62%, 43%);
    color: white;
    animation: fly-in-left .5s;
}
.art-1 header{
    font-weight: bold;
    margin: 0 0 15px;
}
.art-1 strong{
    font-size: 20pt;
}
.art-1 span{
    color: rgb(199, 221, 230);
    font-size: 13px;
    margin:0 10px;
}
.art-1 p:nth-child(1){
    display: flex;
    justify-content: center;
}
.art-1 p:nth-child(2){
    color: rgb(231, 239, 243);
    font-size: 12pt;
    margin: 5px 0;
}
.art-1 button{
    margin: 25px auto;
    width: 95%;
    padding: 14px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 6px 5px rgb(0, 0, 0, 0.2);
    background-color: hsl(71, 73%, 54%);
    color: white;
    cursor: pointer;
}
.art-1 button:hover{
    border: 1px solid hsl(71, 73%, 54%);
    background: transparent;
    color: hsl(71, 73%, 54%);
}
.art-2{
    width: 50%;
    height: 37.5vh;
    padding: 30px;
    border-radius: 0 0 10px 0;
    background-color: hsla(179, 62%, 43%, 0.8);
    color: white;
    animation: fly-in-right .5s;
}
.art-2 header{
    font-weight: bold;
    margin: 0 0 15px;
}
.art-2 ul{
    list-style: none;
    font-size: 13px;
}
.art-2 ul li{
    margin: 10px 0;
    color: rgb(218, 239, 247);
}

@media (max-width: 650px) {
    .card{
        width: 90% !important;
    }
}

@media (max-width: 950px) {
    html{
        margin: 5% 5px;
    }
    .card{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 65%;
        padding: 0 5%;
    }
    .section{
        height: 33.3%;
        width: 100%;
        padding: 20px;
        margin: 0;
    }
    .two-articles{
        flex-wrap: wrap;
    }
    .art-1{
        width: 100%;
        height: 33.3%;
        border-radius: 0;
        padding: 20px;
        margin: 0;
    }
    .art-1 button{
        margin: 10px 0;
    }
    .art-2{
        width: 100%;
        height: 33.3%;
        border-radius: 0 0 10px 10px;
        padding: 20px;
    }
}

@keyframes drop {
    from{
        transform: translateY(-200px);
        opacity: 0;
    }
}
@keyframes fly-in-left {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
}
@keyframes fly-in-right {
    from{
        transform: translateX(200px);
        opacity: 0;
    }
}